
body {
	background-image: url(C:/xampp/htdocs/box//img/htmlcss1-img_foodlogo.png);
	text-align: center;
	font-family: 'roboto', sans-serif;
}

nav {
	text-align: center;

}

nav img {
	display: block;
	width: 250px;
	margin: 0px auto;

}

a {
	text-decoration: none;
}

nav span {
	display: block;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 2px
}

nav a {
	color:#666666;
}